$color-primary: #bc55c5;
$color-primary-light: #da82e2;
$color-primary-dark: #8d2996;

$color-secondary: #c5b155;
$color-secondary-light: #e0ca83;
$color-secondary-dark: #8d6e2b;

$color-grey-light-1: #f7f7f7;

$color-grey-dark: #777;
$color-grey-dark-2: #555;
$color-white: #fff;
$color-black: #000;

$default-font-size: 1.6rem;
